* {
    margin: 0;
    padding: 0;
}


body {

    font-family: "Days One", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.header {
    background-color: #7F42E1;
    position: fixed;
}

.header-back {
    text-align: left;
    padding: 0px calc(16.7%);
    background-color: #7F42E1;
    font-family: "Days One", sans-serif;
    font-style: 400;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    column-gap: 40px;
    position: fixed;
    align-items: center;
    min-width: 66.6%;
    padding-bottom: 20px;
}

.logo-text {
}

.header-menu {
    display: flex;
    column-gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.header-auth {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

.header-menu-client {
    font-family: "Days One", sans-serif;
    font-size: 24px;
    border:  3px solid #FFFFFF;
    padding: 15px 20px 15px 20px;
    border-radius: 17px;

}

.header-menu-auth {
    font-family: "Days One", sans-serif;
    font-size: 24px;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 20px 15px 20px;
    border-radius: 17px;
    border-color: #FFFFFF;
    text-decoration: none;
}

.main {
    padding: 75px 22%;
    padding-bottom: 73px;
    background-color: #7F42E1;
    padding-top: 225px;
}

.main-title {
    font-family: "Days One", sans-serif;
    font-size: 150px;
    font-weight: 100;
}

.main-h {
    font-family: "Inter", sans-serif;
    font-size: 68px;
    margin-bottom: 10%;

}

.main-btn {
    font-family: "Days One", sans-serif;
    font-size: 24px;
    background-color: #FFFFFF;
    color: black;
    padding: 25px 30px 25px 30px;
    border-radius: 20px;
    border-color: #FFFFFF;
}

.vector1 {
    display: block;
    margin: 300px auto 0px;
}

.img {
    transition: transform 1s ease;
    position: absolute;
}

.img1 {
    background-image:url('img/man.png');
    transition: transform 1s ease;
    height: 700px;
    width: 600px;
    left: 1300px;
    top: 390px;
}

.img2 {
    background-image:url('img/velo.png');
    transition: transform 1s ease;
    height: 386px;
    width: 218px;
    left: 1000px;
    top: 500px;
}

.img3 {
    background-image:url('img/samokat.png');
    transition: transform 1s ease;
    height: 74px;
    width: 43px;
    left: 1240px;
    top: 500px;
}

.img4 {
    background-image:url('img/chelo.png');
    transition: transform 1s ease;
    height: 207px;
    width: 180px;
    left: 850px;
    top: 500px;
}

.img5 {
    background-image:url('img/sobaka.png');
    transition: transform 1s ease;
    height: 43px;
    width: 56px;
    left: 700px;
    top: 700px
}

.img6 {
    background-image:url('img/cofe.png');
    transition: transform 1s ease;
    height: 168px;
    width: 172px;
    left: 200px;
    top: 685px
}

.img7 {
    background-image:url('img/cloud.png');
    transition: transform 1s ease;
    height: 86px;
    width: 262px;
    left: 90px;
    top: 175px;
}

.img8 {
    background-image:url('img/balloon.png');
    transition: transform 1s ease;
    height: 94px;
    width: 63px;
    left: 1300px;
    top: 250px;
}

.img9 {
    background-image:url('img/airship.png');
    transition: transform 1s ease;
    height: 294px;
    width: 248px;
    left: 150px;
    top: 150px;
}

.img10 {
    background-image:url('img/airplane.png');
    transition: transform 1s ease;
    height: 38px;
    width: 114px;
    left: 1500px;
    top: 250px;
}

.bisness {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: black !important;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.bis {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1138px;
    column-gap: 10px;
    margin-bottom: 100px;
}

.bis-desk {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.bis-title {
    margin-top: 50px;
    font-size: 56px;
    font-weight: 600px;
    margin-bottom: 50px;
}
.bis-title1 {
    margin: 15px 0;
}

.bis1 {
    display: grid;
    max-width: 560px;
    row-gap: 10px;
    text-align: left;
}

.bis2 {
    max-width: 560px;
    display: grid;
    row-gap: 10px;
    text-align: left;
    margin-top: 25px;
}

.bis-desk-p {
    max-width: 457px;
}

.security {
    font-family: "Inter", sans-serif;
    color: black;
    max-width: 1138px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 100px;
}

.sec {
    max-width: 330px;
}

.sec-title {
    font-size: 43px;
}

.sec-btns {
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: 746px;
}

.sec-btn {
    max-width: 746px;
    border-radius: 19px;
    padding: 40px;
    background-color: #E7DBFD;
    display: flex;
    align-items: center;
    column-gap: 200px;
}

.sec-btn-text {
    width: 460px;
}

.sec-btn-title {
    font-size: 28px;
    margin-bottom: 11px;
}

.vector2 {
    width: 32px;
    height: 32px;
    
}

.support {
    color: black;
    font-family: "Inter", sans-serif;
    display: flex;
    margin: 0 auto;
    max-width: 1138px;
    align-items: center;
    flex-wrap: wrap;
}

.support-title {
    font-size: 55px;
    margin-bottom: 10px;
}

.sup-title-p {
    font-size: 23px;
    margin-bottom: 35px;
}

.sup {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 18px;
    margin-bottom: 100px;
}
.sup-1 {
    background-color: #F4F4F4;
    border-radius: 16px;
    max-width: 752px;
}

.sup-2 {
    background-color: #D0BAF7;
    border-radius: 16px;
    max-width: 368px;
}

.sup-3 {
    background-color: #F4F4F4;
    border-radius: 16px;
}

.sup-4 {
    background-color: #F4F4F4;
    border-radius: 16px;
}

.sup-text {
    padding: 30px;
}

.sup-title {
    margin-bottom: 10px;
}

.sup-p {
    margin-bottom: 20px;
}

.sup-img {
    display: flex;
    margin: 0 auto;
}

.sup-img-1 {
    padding: 0 30px;
}

.client {
    font-family: "Inter", sans-serif;
    color: black;
    max-width: 1138px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.cl {
    max-width: 330px;
}

.cl-title {
    font-size: 43px;
}

.cl-btns {
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: 746px;
    margin-bottom: 100px;
}

.cl-btn {
    min-width: 746px;
    min-height: 140px;
    border-radius: 19px;
    padding: 30px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    column-gap: 200px;
}

.cl-btn-text {
    width: 460px;
}

.cl-btn-title {
    font-size: 28px;
    margin-bottom: 11px;
}

.vector3 {
    width: 160px;
}

.slider {
    color: black;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    max-width: 1138px;
    align-items: center;
}


.slider-title {
    font-size: 56px;
    margin-bottom: 55px;
}

.slider-text-title {
    font-size: 28px;
    font-weight: 345px;
    margin-bottom: 20px;
}

.slider-text-p {
    margin-bottom: 280px;
}

.slider-text-a {
    padding: 10px 15px 10px 15px;
    border-radius: 13px;
    border-color: black;
    border:  3px solid black;
}

.slider-link {
    display: flex;
    column-gap: 40px;
    font-size: 17px;
}

.slider-link-1:active {
    border-bottom: 4px solid black;
    padding-bottom: 15px;
}

.slider-link-1 {
    border-bottom: 4px solid black;
    padding-bottom: 15px;
}

.slider-link-1:hover, .slider-link-2:hover, .slider-link-3:hover, .slider-link-4:hover, .slider-link-5:hover {
cursor: pointer;
}

.slider-link-2:active {
    border-bottom: 4px solid black;
    padding-bottom: 15px;
}

.slider-link-2 {
    padding-bottom: 15px;
}

.slider-link-3:active {
    border-bottom: 4px solid black;
    padding-bottom: 15px;
}

.slider-link-3 {
    padding-bottom: 15px;
}

.slider-link-4:active {
    border-bottom: 4px solid black;
    padding-bottom: 15px;
}

.slider-link-4 {
    padding-bottom: 15px;
}

.slider-link-5:active {
    border-bottom: 4px solid black;
    padding-bottom: 15px;
}

.slider-link-5 {
    padding-bottom: 15px;
}

.slider-link-6:active {
    border-bottom: 4px solid black;
    padding-bottom: 15px;
}

.slider-link-6 {
    padding-bottom: 15px;
}

.slider-all {
    min-height: 512px;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

.slider-1 {
    background-color: #E7DBFD;
    display: flex;
}

.slider-2 {
    background-color: #f9ded6;
}

.slider-3 {
    background-color: #e7dbfd;
}

.slider-4 {
    background-color: #f6d1e9;
}

.slider-5 {
    background-color: #cdecf1;
}

.slider-6 {
    background-color: #f4f4f4;
}

.slider-text {
    max-width: 436px;
}

.slider-text {
    margin: 20px;
}

.slider-img {
    width: 584px;
}

.burger {
    border:  3px solid #FFFFFF;
    padding: 15px 20px 15px 20px;
    border-radius: 17px;
    display: none;
    height: 25px;
}

@media (max-width: 2025px){
    .burger{
        display: block;
    }
    .header-menu{
        display: none;
    }
    .header-back{
        padding: 2%;
        min-width: 98%;
    }
}

@media (max-width: 1902px){
    .img1{
        display: none;
    }
    .img8{
        display: none;
    }
    .img10{
        display: none;
    }
}

@media (max-width: 1287px){
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
}

@media (max-width: 1111px){
    .main-h{
        font-size: 58px;
    }

}


@media (max-width: 1031px){
    .main-h{
        font-size: 40px;
    }
    .img4{
        display: none;
    }
}

@media (max-width: 609px){
    .img5{
        display: none;
    }
}